html, body {
    font-size: 13px;
    font-family: sans-serif;
    color: grey;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
    width: 350px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 6px;
    border: 1px solid #999;
    background-color: #EEE;
}

.header {
    display: flex;
    align-items: center;
    background-color: #555;
    height: 30px;
    padding-left: 12px;
    border-radius: 6px 6px 0 0;
}

.header h1 {
    color: #FFF;
    margin: 0;
    font: 15px sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 320px;
    height: 100px;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.container-target {
    display: flex;
    align-items: center;
    height: 100%;
}

.target {
    border: 1px solid #DDD;
    text-align: center;
    color: #FFF;
    width: 48px;
    height: 38px;
    background: linear-gradient(180deg, #AAA 0%, #666 100%);
    border-radius: 3px;
}

.target-value {
    margin-top: 2px;
    color: #FFF;
    font-size: 16px;
}

hr {
    color: #0489d1;
    background-color: #999;
    margin: auto;
    width: 40px;
    border: none;
    height: 1px;
    size: 10px;
}

.info {
    display: flex;
    align-items: center;
    height: 25px;
    margin-bottom: 10px;
}

.slider {
    margin: 0 0 0 10px;
    width: 114px;
    height: 8px;
    position: relative;
    left: 0;
    top: 0;
    border: 2px solid #DDD;
    overflow:visible;
    background-color: #DDD;
}

.slider-fill {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background: #0489d1;
}

.slider-thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #666;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 6px;
    border: 0 none;
    padding: 0;
    margin: 0;
    text-align: center;
}
